.collapsible-container {
  display: flex;
  flex-direction: column;
  margin: var(--collapsible-margin);
}

.collapsible-head {
  background: var(--collapsible-head-background);
  color: var(--collapsible-head-color);
  cursor: pointer;
  padding: var(--collapsible-head-padding);
  user-select: none;
}

.collapsible-body {
  background: var(--collapsible-body-background);
  color: var(--collapsible-body-color);
  display: none;
  padding: var(--collapsible-body-padding);
}

.collapsible-body--is-open {
  display: block;
}
